{% extends 'student/student_base.html' %}
{% block styles %}
    {{ super() }}
    <style>
        .danxuan {

        }
    </style>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        // localStorage.removeItem('leave_num');
        if (localStorage.getItem('leave_num') === null) {
            localStorage.setItem('leave_num', 0)
        } else {
            console.log(localStorage.getItem('leave_num'));

        }


        //$('input[name="14"][value="b"]')[0].checked =true
        var e_time = new Date('{{ exam.e_time|safe }}').getTime();

        function daojishi() {
            let now_time = new Date().getTime();
            // 获取两个时间的间隔，返回间隔的天、小时、分钟和秒。 注意：结束时间要大于开始时间否则返回空
            let shengyushijian = jutils.getTimeInterval(now_time, e_time);
            $('#daojishi').text(shengyushijian);
            if ((localStorage.getItem('leave_num')) >= 4) {
                console.log('你已经离开页面3次 自动强制交卷', localStorage.getItem('leave_num'));
            }
            return daojishi
        }

        setInterval(daojishi(), 1000);
        document.addEventListener("visibilitychange", function () {
            if (document.visibilityState === 'hidden') {
                // h5新增客户端存储数据的方式 离开页面也有效
                localStorage.setItem('leave_num', Number(localStorage.getItem('leave_num')) + 1)
            }
        });
        $(function () {
            $('#exam_form').submit(function (e) {
                // 先禁止form的自动提交
                e.preventDefault();
                var exam_name = '{{ exam.exam_name }}';
                $.ajax({
                    url: "/student/examing_data/{0}".signMix(exam_name),
                    type: 'POST',
                    data: $(this).serialize(),   // 这个序列化传递很重要 不然后端就是none
                    success: function (res) {
                        toastr.success('提交成功');
                        localStorage.removeItem('leave_num');
                        setTimeout(function () {
                            window.location.href = '/student/index/'
                        }, 2000)
                    }
                });


            })
        })
    </script>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="text-center">{{ exam.exam_name }}</h3>
                    <p class="pull-left">考试开始时间：{{ exam.s_time }}</p>
                    <p class="text-right">距离考试结束还有：<span id="daojishi"></span></p>
                </div>
                <div class="panel-body">
                    <form method="post" id="exam_form">
                        <div class="danxuan">
                            <h4 class="text-warning">一、单选题</h4>
                            {% for timu in danxuanl %}
                                {{ danxuan(timu) }}
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="duoxuan">
                            <h4 class="text-warning">二、多选题</h4>
                            {% for timu in duoxuanl %}
                                {{ duoxuan(timu) }}
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="panduan">
                            <h4 class="text-warning">三、填空题</h4>
                            {% for timu in tiankongl %}
                                {{ tiankong(timu) }}
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="tiankong">
                            <h4 class="text-warning">四、简答题</h4>
                            {% for timu in jiandal %}
                                {{ jianda(timu) }}
                            {% endfor %}
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-info" style="margin-left: 45%">交卷</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}