{% extends 'teacher/teacher_base.html' %}
{% block page_content %}
    <div class="modal fade" id="add_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">新增</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group  required"><label class="control-label" for="username">考试名称</label>

                        <input autocomplete="off" class="form-control" id="exam_name" name="exam_name"
                               placeholder="请输入考试名称" required="" type="text" value="">
                    </div>
                    <div class="form-group "><label class="control-label" for="exam_paper">考试试卷</label>
                        <select title="请选择考试试卷" data-live-search="true" data-live-search-placeholder="搜索"
                                data-actions-box="true" class="form-control selectpicker" id="exam_paper"
                                name="exam_paper">
                            {% for paper in paper_list %}
                                <option value="{{ paper }}">{{ paper }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>考试开始时间：</label>
                        <!--指定 date标记-->
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" id="s_time"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>考试结束时间：</label>
                        <!--指定 date标记-->
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' class="form-control" id="e_time"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group "><label class="control-label" for="exam_class">考试班级</label>
                        <select title="请选择班级" data-live-search="true" data-live-search-placeholder="搜索"
                                data-actions-box="true" class="form-control selectpicker" id="exam_class"
                                name="exam_class" multiple>
                            {% for class in class_list %}
                                <option value="{{ class }}">{{ class }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" id="add_submit" class="btn btn-primary" data-dismiss="modal" onclick="add()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="del_modal">
        <div class="modal-dialog" style="width:400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <div class='modal-body text-center' id='myConfirmContent' style='font-size:18px;'>
                        是否确定要删除?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="del_submit">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">编辑</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group  required"><label class="control-label" for="username">考试id</label>

                        <input autocomplete="off" class="form-control" id="edit_exam_id" name="edit_exam_id"
                               required="" type="text" value="" disabled>
                    </div>
                    <div class="form-group  required"><label class="control-label" for="username">考试名称</label>

                        <input autocomplete="off" class="form-control" id="edit_exam_name" name="edit_exam_name"
                               placeholder="请输入考试名称" required="" type="text" value="">
                    </div>
                    <div class="form-group "><label class="control-label" for="exam_paper">考试试卷</label>
                        <select title="请选择考试试卷" data-live-search="true" data-live-search-placeholder="搜索"
                                data-actions-box="true" class="form-control selectpicker" id="edit_exam_paper"
                                name="edit_exam_paper">
                            {% for paper in paper_list %}
                                <option value="{{ paper }}">{{ paper }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>考试开始时间：</label>
                        <!--指定 date标记-->
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" id="edit_s_time"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>考试结束时间：</label>
                        <!--指定 date标记-->
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' class="form-control" id="edit_e_time"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group "><label class="control-label" for="exam_class">考试班级</label>
                        <select title="请选择班级" data-live-search="true" data-live-search-placeholder="搜索"
                                data-actions-box="true" class="form-control selectpicker" id="edit_exam_class"
                                name="edit_exam_class" multiple>
                            {% for class in class_list %}
                                <option value="{{ class }}">{{ class }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" id="edit_submit" class="btn btn-primary" data-dismiss="modal">确定
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div style="width: 100%;margin: 0 auto;background-color: #f2f2f2;border-radius: 15px">
                <table id="table" class="table table-bordered" style=""></table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <!-- bootstrap-table.min.js -->
    <script src="{{ url_for('static',filename='js/bootstrap-table.min.js') }}"></script>
    <!-- 引入中文语言包 -->
    <script src="{{ url_for('static',filename='js/bootstrap-table-zh-CN.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/toastr.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/moment-with-locales.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/defaults-zh_CN.js') }}"></script>
    <script>
        $(function () {
            var picker1 = $('#datetimepicker1').datetimepicker({
                format: 'YYYY年MM月DD日 HH:mm:ss',
                dayViewHeaderFormat: 'MMMM YYYY dddd',
                allowInputToggle: true,
                locale: moment.locale('zh-cn'),
                showTodayButton: true,
                showClear: true,
                showClose: true,
                minDate: moment(),
                tooltips: {
                    today: '当前时间',
                    clear: '清空',
                    close: '关闭',
                    selectTime: '选择时间',
                    selectMonth: '选择月',
                    prevMonth: '前一个月',
                    nextMonth: '后一个月',
                    selectYear: '选择年份',
                    prevYear: '前一年',
                    nextYear: '后一年',
                    incrementHour: '增加一小时',
                    pickHour: '选择小时',
                    decrementHour: '减小一小时',
                    incrementMinute: '增加一分钟',
                    pickMinute: '选择分钟',
                    decrementMinute: '减小一分钟',
                    incrementSecond: '增加一秒',
                    pickSecond: '选择秒数',
                    decrementSecond: '减小一秒',
                }

            });
            var picker2 = $('#datetimepicker2').datetimepicker({
                format: 'YYYY年MM月DD日 HH:mm:ss',
                dayViewHeaderFormat: 'MMMM YYYY dddd',
                allowInputToggle: true,
                locale: moment.locale('zh-cn'),
                // 很重要 点击弹出选择器后，文本框不显示当前时间 为了绑定开始结束时间
                useCurrent: false,
                showTodayButton: true,
                showClear: true,
                showClose: true,
                minDate: moment(),
                tooltips: {
                    today: '当前时间',
                    clear: '清空',
                    close: '关闭',
                    selectTime: '选择时间',
                    selectMonth: '选择月',
                    prevMonth: '前一个月',
                    nextMonth: '后一个月',
                    selectYear: '选择年份',
                    prevYear: '前一年',
                    nextYear: '后一年',
                    incrementHour: '增加一小时',
                    pickHour: '选择小时',
                    decrementHour: '减小一小时',
                    incrementMinute: '增加一分钟',
                    pickMinute: '选择分钟',
                    decrementMinute: '减小一分钟',
                    incrementSecond: '增加一秒',
                    pickSecond: '选择秒数',
                    decrementSecond: '减小一秒',
                }

            });
            // 绑定开始和结束
            picker1.on("dp.change", function (e) {
                picker2.data("DateTimePicker").minDate(e.date);
            });

            picker2.on('dp.change', function (e) {
                picker1.data('DateTimePicker').maxDate(e.date);
            });

            //表格超出宽度鼠标悬停显示td内容
            function paramsMatter(value, row, index) {
                var span = document.createElement("span");
                span.setAttribute("title", value);
                span.innerHTML = value;
                return span.outerHTML;
            }

            //td宽度以及内容超过宽度隐藏
            function formatTableUnit(value, row, index) {
                return {
                    css: {
                        "white-space": "nowrap",
                        "text-overflow": "ellipsis",
                        "overflow": "hidden",
                        "max-width": "150px"
                    }
                }
            }

            $('#table').bootstrapTable({
                //onClickRow: function (row, element, field) {
                //    console.log(row, element, field)
                //},
                //onClickCell: function (field, value, row, element) {
                //    console.log(field, value, row, element)
                //},
                url: '/tea/score_data/',  // 请求数据源的路由
                dataType: "json",
                pagination: true, //前端处理分页
                singleSelect: false,//是否只能单选
                search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                {#searchOnEnterKey: true,//按回车触发搜索#}
                searchAlign: 'left',
                trimOnSearch: true,
                toolbar: '#toolbar', //工具按钮用哪个容器
                striped: true, //是否显示行间隔色
                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pageNumber: 1, //初始化加载第10页，默认第一页
                pageSize: 10, //每页的记录行数（*）
                pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
                strictSearch: false,//设置为 true启用 全匹配搜索，false为模糊搜索
                showColumns: true, //显示内容列下拉框
                showRefresh: true, //显示刷新按钮
                buttonsAlign: 'left',
                minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
                clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
                {#        height: 500, //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度#}
                uniqueId: "id", //每一行的唯一标识，一般为主键列
                showToggle: true, //是否显示详细视图和列表视图的切换按钮
                cardView: false, //是否显示详细视图
                {#detailView: true, //是否显示父子表，设置为 true 可以显示详细页面模式,在每行最前边显示+号#}
                sidePagination: "client", //分页方式：client客户端分页，server服务端分页（*）
                columns: [{  //定义表头,这个表头必须定义,下边field后边跟的字段名字必须与后端传递的字段名字相同.如:id、name、price
                    //跟后端的字段名id  name price是完全一样的.

                    field: 'id',
                    title: 'id',
                    align: 'center',  //对齐方式，居中
                    valign: 'middle',
                    sortable: true, // 是否显示排序按钮
                    searchable: false, // 是否在可搜索列中
                    width: '5%',// 可以写各种样式
                }, {
                    field: 'exam_name',
                    title: '考试名称',
                    align: 'center',
                    valign: 'middle',
                    width: '15%',
                    cellStyle: formatTableUnit,
                    formatter: paramsMatter
                }, {
                    field: 'stu_name',
                    title: '学生姓名',
                    align: 'center',
                    valign: 'middle',
                    width: '10%',

                }, {
                    field: 'score',
                    title: '成绩',
                    align: 'center',
                    valign: 'middle',
                    width: '10%',
                    sortable: true,
                }, {
                    field: 'operator',
                    title: '操作',
                    align: 'center',
                    valign: 'middle',
                    width: '10%',
                    // visible: false,
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" title="删除" >' +
                            '<i class="glyphicon glyphicon-trash text-danger"></i> ' +
                            '</a>';
                    },
                    events: {
                        'click a[title=删除]': function (e, value, row, index) {
                            confirm(row.id)


                        },

                    }
                }
                ],
            });
        });


        // button自带的onclick放在表格内失效 只能用这种
        $('#edit_submit').on('click', function () {
                let edit_exam_id = $('#edit_exam_id').val();
                let edit_exam_name = $('#edit_exam_name').val();
                let edit_exam_paper = $('#edit_exam_paper').val().toString();
                let edit_s_time = $('#edit_s_time').val();
                let edit_e_time = $('#edit_e_time').val();
                let edit_exam_class = $('#edit_exam_class').val().toString();
                $.ajax({
                    type: "get",
                    url: "/tea/exam_edit?edit_exam_id={0}&edit_exam_name={1}&edit_exam_paper={2}&edit_s_time={3}&edit_e_time={4}&edit_exam_class={5}".signMix(edit_exam_id, edit_exam_name, edit_exam_paper, edit_s_time, edit_e_time, edit_exam_class),
                    success: function (e) {
                        $('#table').bootstrapTable('refresh');
                        toastr_pd(e,'修改')
                    }
                })
            }
        );

        // 为了用模态框作为提示框
        function confirm(sid) {
            $("#del_modal").modal("show");
            $("#del_submit").unbind().on("click", function () {
                $.ajax({
                    type: "get",
                    url: "/tea/score_del?id=" + sid,
                    success: function (e) {
                        $('#table').bootstrapTable('refresh');
                        toastr_pd(e,'删除')
                    }
                })
            });
        }

        //添加新增按钮
        $(function () {
            let a = '<button class="btn btn-default" type="button" name="add" title="新增" data-toggle="modal" data-target="#add_modal"><i class="glyphicon glyphicon-plus icon-refresh"></i></button>';
            $('.columns-left').prepend(a)
        });

        function add() {
            $('#add_modal').modal('show');
            let exam_name = $('#exam_name').val();
            let exam_paper = $('#exam_paper').val().toString();
            let s_time = $('#s_time').val();
            let e_time = $('#e_time').val();
            let exam_class = $('#exam_class').val().toString();
            console.log(exam_name, exam_paper, s_time, e_time, exam_class);
            $.ajax({
                type: "get",
                url: "/tea/exam_add?exam_name={0}&exam_paper={1}&s_time={2}&e_time={3}&exam_class={4}".signMix(exam_name, exam_paper, s_time, e_time, exam_class),
                success: function (e) {
                    $('#table').bootstrapTable('refresh');
                    toastr_pd(e,'添加')
                }
            })
        }


    </script>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-table.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/toastr.min.css') }}">
{% endblock %}